{% extends 'base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}

<div class="input-group">
  <span class="input-group-text">Название</span>
  <textarea class="form-control" aria-label="With textarea" name ='name'>{{project.name}}</textarea>
</div>
    <div class="input-group">
      <span class="input-group-text">О проекте</span>
      <textarea class="form-control" aria-label="With textarea" name="info">{{project.info}}</textarea>
    </div>

<input type="submit" value="Изменить" class="btn btn-success">
</form>
{% endblock %}