{% extends 'base.html' %}

{% block content %}
<h1>Проект {{project.name}}</h1>

<h2>О проекте:</h2> <p class="lh-sm">{{project.info}}</p>

<h3>Создатель проекта: {{project.owner}}</h3>
{% if participant.invite_status == True %}
        <h4>Участники:
                        {{participant.participant}}
        </h4>
{% endif %}
<form method="post">
        {% csrf_token %}
        {% if user_id == participant.participant and participant.invite_status == False %}
        <h4>Приглашение для вступления в проект
                <input type="submit" value="Присоедениться" name="join" class="btn btn-success">
                <input type="submit" value="Отклонить" name="decline" class="btn btn-secondary"> <br>
        </h4>
        {% endif %}
</form>
{% if project.owner.id == user_id %}
        <a href='edit/{{project.id}}'>Изменить информацию</a>
        <a href="add_participant/{{project.id}}">Добавить участников</a>
{% endif %}
{% endblock %}